[submodule "Library/WickedEngine"]
	path = Library/WickedEngine
	url = https://github.com/turanszkij/WickedEngine.git
	branch = master
[submodule "Library/efsw"]
	path = Library/efsw
	url = https://github.com/SpartanJ/efsw.git
